.footer {
    padding: 75px 0;
    background: $text;
    color: $white;
    @include media(sm) {
        padding: 50px 0;
    }
    @include media(xs) {
        padding: 25px 0;
    }
    &__first {
        padding: 0 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: 1px solid $white;
        h2 {
            font-size: 40px;
            font-weight: 500;
            @include media(sm) {
                font-size: 28px;
            }
        }
        @include media(xs) {
            padding: 25px 0;
        }
    }
    &__second {
        padding: 75px 0 0 0;
        display: grid;
        grid-template-columns: minmax(min-content, 370px) repeat(4, minmax(min-content, 200px));
        @include media(sm) {
            padding: 50px 0;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
        }
        @include media(xs) {
            padding: 25px 0;
            grid-template-columns: 1fr;
        }
    }
    &__block {
        h3 {
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 50px;
        }
        h4 {
            color: $h4;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
        }
        ul {
            list-style: none;
            li {
                font-size: 13px;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.fb--logo {
    @include media(sm) {
        grid-column: span 4;
    }
    @include media(xs) {
        grid-column: span 1;
    }  
}