@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@100;300;400&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: #1f373d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1170px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  padding: 40px 0;
  z-index: 999; }
  @media only screen and (max-width: 768px) {
    .header {
      padding: 20px 0; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 992px) {
      .header__nav {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .header__logo {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    font-weight: 400; }
  .header__block {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    white-space: nowrap; }
    @media only screen and (max-width: 992px) {
      .header__block {
        display: none; } }
  .header__list {
    font-size: 16px; }
  .header__link {
    text-decoration: none;
    color: inherit; }
    .header__link:hover {
      text-decoration: underline; }
  .header--btn {
    padding: 7px 20px;
    background: #ffcc01;
    border-radius: 5px;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .header--btn:hover {
      text-decoration: none;
      background: #00cfad;
      color: #ffffff; }
  .header__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer; }
    .header__burger span {
      position: absolute;
      background: #1f373d;
      width: 100%;
      height: 1px;
      -webkit-transition: .1s linear;
      transition: .1s linear; }
      .header__burger span:nth-child(1) {
        top: 0; }
      .header__burger span:nth-child(2) {
        top: 50%; }
      .header__burger span:nth-child(3) {
        top: 100%; }
    @media only screen and (max-width: 992px) {
      .header__burger {
        display: block; } }
    .header__burger:hover span {
      background: #ffcc01; }

.header.active {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 3px rgba(31, 55, 61, 0.5);
          box-shadow: 0 3px 3px rgba(31, 55, 61, 0.5);
  -webkit-animation: fromUP .5s ease;
          animation: fromUP .5s ease; }

.header__nav.active .header--js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  background: #ffffff;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-animation: fromLeft .5s ease;
          animation: fromLeft .5s ease; }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes fromUP {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes fromUP {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.header__burger.transform span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.header__burger.transform span:nth-child(2) {
  top: 50%;
  opacity: 0; }
.header__burger.transform span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.drop__btn {
  position: relative;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: none;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #1f373d;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  cursor: pointer; }
  .drop__btn:hover {
    color: #ffcc01; }
  .drop__btn::after {
    display: block;
    content: '\25bd';
    position: absolute;
    bottom: 0;
    right: -20px;
    font-size: 14px;
    -webkit-transition: .1s linear;
    transition: .1s linear; }
.drop__content {
  padding: 10px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  display: none;
  position: absolute;
  margin-left: 15px;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  -webkit-animation: drop-on-menu .1s forwards linear;
          animation: drop-on-menu .1s forwards linear; }
  .drop__content > a {
    display: block;
    min-width: 105px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #1f373d;
    border-bottom: 1px solid rgba(31, 55, 61, 0.1); }
    .drop__content > a:last-child {
      margin-bottom: 0;
      border-bottom: none; }
    .drop__content > a:hover {
      opacity: .7; }
.drop:hover .drop__content {
  display: block; }
.drop:hover .drop__btn::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

@-webkit-keyframes drop-on-menu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes drop-on-menu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.dropTwo__btn {
  position: relative;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: none;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #1f373d;
  min-width: 105px;
  text-align: left;
  cursor: pointer; }
  .dropTwo__btn:hover {
    opacity: .7; }
  .dropTwo__btn::after {
    display: block;
    content: '\25c1';
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 14px;
    -webkit-transition: .1s linear;
    transition: .1s linear; }
.dropTwo__content {
  display: none;
  position: absolute;
  margin-top: -30px;
  margin-left: 105px;
  padding: 10px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  -webkit-animation: drop-on-menu-2 .1s forwards linear;
          animation: drop-on-menu-2 .1s forwards linear; }
  .dropTwo__content > a {
    display: block;
    min-width: 105px;
    text-decoration: none;
    color: #1f373d;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(31, 55, 61, 0.1);
    -webkit-transition: .1s linear;
    transition: .1s linear; }
    .dropTwo__content > a:last-child {
      margin-bottom: 0; }
    .dropTwo__content > a:hover {
      opacity: .7; }
.dropTwo:hover .dropTwo__content {
  display: block; }
.dropTwo:hover .dropTwo__btn::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

@-webkit-keyframes drop-on-menu-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes drop-on-menu-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.intro {
  padding: 0 0 75px 0; }
  @media only screen and (max-width: 768px) {
    .intro {
      padding: 0 0 50px 0; } }
  @media only screen and (max-width: 500px) {
    .intro {
      padding: 0 0 25px 0; } }
  .intro__inner {
    position: relative;
    max-width: 100%;
    height: 330px;
    background: url("../img/intro.jpg") no-repeat center;
    background-size: cover; }
    .intro__inner::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      z-index: 1; }
  .intro__content {
    z-index: 2;
    max-width: 450px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: -15%; }
    @media only screen and (max-width: 1200px) {
      .intro__content {
        left: 0; } }
    @media only screen and (max-width: 768px) {
      .intro__content {
        max-width: 325px; } }
  .intro__title {
    padding: 10px 20px;
    color: #1f373d;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.6); }
    @media only screen and (max-width: 768px) {
      .intro__title {
        font-size: 24px; } }
  .intro__form {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif; }
    @media only screen and (max-width: 1200px) {
      .intro__form {
        padding: 10px 20px 10px 0; } }
  .intro__input {
    font-family: inherit;
    font-size: inherit;
    padding: 15px 30px;
    border: 1px solid #1f373d;
    border-right: 0;
    outline: 0;
    background: #ffffff url("../img/svg/search.svg") no-repeat 7px;
    background-size: 15px; }
    .intro__input::-webkit-input-placeholder {
      font-family: inherit;
      color: rgba(31, 55, 61, 0.3); }
    .intro__input:-ms-input-placeholder {
      font-family: inherit;
      color: rgba(31, 55, 61, 0.3); }
    .intro__input::-ms-input-placeholder {
      font-family: inherit;
      color: rgba(31, 55, 61, 0.3); }
    .intro__input::placeholder {
      font-family: inherit;
      color: rgba(31, 55, 61, 0.3); }
    @media only screen and (max-width: 768px) {
      .intro__input {
        padding: 5px 15px 5px 30px; } }
  .intro__btn {
    font-family: inherit;
    font-size: inherit;
    color: #1f373d;
    line-height: 1;
    padding: 15px 30px;
    background: #ffcc01;
    border: 1px solid #1f373d;
    border-left: 0;
    outline: 0;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .intro__btn:hover {
      background: #00cfad;
      color: #ffffff; }
  .intro__location {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    background: #ffcc01;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500; }
    @media only screen and (max-width: 768px) {
      .intro__location {
        padding: 5px 10px;
        -webkit-column-gap: 25px;
                column-gap: 25px;
        font-size: 14px; } }
  .intro--i {
    color: #ffffff;
    margin-right: 15px; }
  .intro__scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    font-size: 16px;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: -17%;
    -webkit-animation: scroll-down 1s alternate infinite linear;
            animation: scroll-down 1s alternate infinite linear; }
    @media only screen and (max-width: 1200px) {
      .intro__scroll {
        display: none; } }

@-webkit-keyframes scroll-down {
  from {
    bottom: 0; }
  to {
    bottom: 20px; } }

@keyframes scroll-down {
  from {
    bottom: 0; }
  to {
    bottom: 20px; } }
.city {
  padding: 75px 0; }
  @media only screen and (max-width: 768px) {
    .city {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .city {
      padding: 25px 0; } }
  .city__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px; }
    @media only screen and (max-width: 992px) {
      .city__inner {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .city__inner_about {
      max-width: 100%; }
      .city__inner_about h2 {
        width: 300px;
        font-size: 30px;
        margin-bottom: 50px; }
        @media only screen and (max-width: 768px) {
          .city__inner_about h2 {
            font-size: 26px;
            margin-bottom: 25px; } }
      .city__inner_about p {
        width: 550px;
        margin-bottom: 25px; }
        .city__inner_about p:last-child {
          margin-bottom: 0; }
        @media only screen and (max-width: 768px) {
          .city__inner_about p {
            margin-bottom: 10px; }
            .city__inner_about p:last-child {
              margin-bottom: 0; } }
        @media only screen and (max-width: 768px) {
          .city__inner_about p {
            width: 450px; } }
        @media only screen and (max-width: 500px) {
          .city__inner_about p {
            width: 400px; } }
    .city__inner_stat {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px; }
      .city__inner_stat-block {
        background: #f6f5f4;
        width: 200px;
        height: 200px;
        border: 1px solid #ffcc01;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: .2s linear;
        transition: .2s linear; }
        .city__inner_stat-block span {
          font-family: 'Montserrat', sans-serif; }
          .city__inner_stat-block span:nth-child(1) {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.2;
            color: #ffcc01; }
          .city__inner_stat-block span:nth-child(2) {
            color: #1f373d;
            font-size: 20px;
            font-weight: 500; }
        .city__inner_stat-block:hover {
          background: #ffcc01; }
        .city__inner_stat-block:hover span:nth-child(1) {
          color: #ffffff; }

.places {
  padding: 75px 0;
  background: #f6f5f4; }
  @media only screen and (max-width: 768px) {
    .places {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .places {
      padding: 25px 0; } }
  .places__title {
    width: 410px;
    font-size: 30px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .places__title {
        font-size: 26px;
        margin-bottom: 25px; } }
  .places__inner {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .places__inner {
        grid-template-columns: repeat(2, 350px); } }
    @media only screen and (max-width: 768px) {
      .places__inner {
        grid-template-columns: repeat(1, 350px); } }
  .places__box {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 380px 120px;
    width: 350px;
    height: 500px;
    /*  border: 1px solid $text; */
    -webkit-box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
            box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
    -webkit-transition: .5s ease;
    transition: .5s ease; }
    .places__box-img {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%; }
      .places__box-img img {
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        height: 100%;
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      .places__box-img::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        -webkit-transition: .5s ease;
        transition: .5s ease; }
    .places__box-content {
      padding: 20px;
      background: #ffffff; }
      .places__box-content h3 {
        font-size: 16px;
        font-weight: 500; }
      .places__box-content-rate {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .places__box:hover .places__box-img::after {
      background: rgba(0, 0, 0, 0); }
    .places__box:hover .places__box-img img {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .places__box:hover {
      -webkit-box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4);
              box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4); }

.city--star {
  color: #ffcc01; }

.works {
  padding: 75px 0; }
  @media only screen and (max-width: 768px) {
    .works {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .works {
      padding: 25px 0; } }
  .works__title {
    width: 700px;
    font-size: 30px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .works__title {
        width: 400px;
        font-size: 26px;
        margin-bottom: 25px; } }
  .works__inner {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .works__inner {
        grid-template-columns: repeat(2, 350px);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 40px; } }
    @media only screen and (max-width: 768px) {
      .works__inner {
        grid-template-columns: repeat(1, 350px);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 40px; } }
  .works__element {
    position: relative;
    width: 350px;
    height: 375px;
    -webkit-box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
            box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
    overflow: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    padding: 0 40px 40px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .works__element span {
      font-family: 'Montserrat', sans-serif;
      font-size: 150px;
      font-weight: 700;
      position: absolute;
      top: -90px;
      left: -35px; }
    .works__element:hover {
      -webkit-box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4);
              box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4); }
    .works__element:hover {
      background: #ffcc01;
      color: #ffffff; }
    .works__element:hover a::after {
      background: #ffffff; }
  .works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px; }
    .works__content h3 {
      font-size: 22px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    .works__content p {
      font-size: 14px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    .works__content a {
      display: block;
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      position: relative; }
      .works__content a::after {
        display: block;
        content: '';
        position: absolute;
        margin-top: 5px;
        background: #1f373d;
        width: 50%;
        height: 1px;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .works__content a:hover::after {
        width: 100%; }

.kaskad {
  padding: 75px 0; }
  @media only screen and (max-width: 768px) {
    .kaskad {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .kaskad {
      padding: 25px 0; } }
  .kaskad__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 992px) {
      .kaskad__inner {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 30px; } }
  .kaskad__title {
    width: 410px;
    font-size: 30px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .kaskad__title {
        font-size: 26px;
        margin-bottom: 25px; } }
  .kaskad__pic {
    overflow: hidden;
    max-width: 650px;
    height: 650px;
    border: 2px solid #ffcc01;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-transition: .5s ease;
    transition: .5s ease; }
    .kaskad__pic img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .kaskad__pic:hover {
      -webkit-box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.7);
              box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.7); }
      @media only screen and (max-width: 1200px) {
        .kaskad__pic:hover {
          -webkit-box-shadow: none;
                  box-shadow: none; } }
    @media only screen and (max-width: 1200px) {
      .kaskad__pic {
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
    @media only screen and (max-width: 768px) {
      .kaskad__pic {
        max-width: 500px;
        height: auto;
        border: none; } }
  .kaskad__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px; }
    .kaskad__info h3 {
      font-size: 25px;
      margin-bottom: 30px; }
    .kaskad__info p {
      font-size: 14px;
      margin-bottom: 15px; }
      .kaskad__info p:last-child {
        margin-bottom: 0; }
    .kaskad__info a {
      display: block;
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      position: relative; }
      .kaskad__info a::after {
        display: block;
        content: '';
        position: absolute;
        margin-top: 5px;
        background: #1f373d;
        width: 50%;
        height: 1px;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .kaskad__info a:hover::after {
        width: 100%; }

.mall {
  padding: 75px 0;
  background: #f6f5f4; }
  @media only screen and (max-width: 768px) {
    .mall {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .mall {
      padding: 25px 0; } }
  .mall__title {
    width: 410px;
    font-size: 30px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .mall__title {
        font-size: 26px;
        margin-bottom: 25px; } }
  .mall__inner {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .mall__inner {
        grid-template-columns: repeat(1, 350px);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 40px; } }
  .mall__block {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 380px 100px;
    -webkit-box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
            box-shadow: 0 15px 20px 1px rgba(31, 55, 61, 0.2);
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .mall__block-img {
      position: relative;
      overflow: hidden; }
      .mall__block-img img {
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        height: 100%;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .mall__block-img::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
    .mall__block-content {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding: 0 20px; }
    .mall__block:hover .mall__block-img::after {
      background: rgba(0, 0, 0, 0); }
    .mall__block:hover .mall__block-img img {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .mall__block:hover {
      -webkit-box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4);
              box-shadow: 0 15px 30px 3px rgba(255, 204, 1, 0.4); }
    .mall__block-social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .mall__block-name {
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .mall__block-name h3 {
        font-size: 18px;
        font-weight: 600; }
    .mall__block-title h4 {
      font-size: 16px;
      font-weight: 500;
      color: #ffcc01; }
    .mall__block-links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: flex-end; }
    .mall__block-icon {
      font-size: 16px; }

.street {
  padding: 75px 0; }
  @media only screen and (max-width: 768px) {
    .street {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .street {
      padding: 25px 0; } }
  .street__inner {
    display: grid;
    grid-template-columns: repeat(2, 540px);
    grid-template-rows: repeat(3, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 100px; }
    @media only screen and (max-width: 1200px) {
      .street__inner {
        grid-template-columns: repeat(1, 440px);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 25px; } }
  .street__block {
    position: relative;
    width: 540px;
    height: 330px; }
    @media only screen and (max-width: 1200px) {
      .street__block {
        width: 440px;
        height: 230px; } }
  .street__content {
    height: 100%; }
    .street__content h2 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 30px; }
      @media only screen and (max-width: 500px) {
        .street__content h2 {
          font-size: 20px;
          margin-bottom: 15px; } }
    .street__content p {
      line-height: 2;
      margin-bottom: 15px; }
      @media only screen and (max-width: 500px) {
        .street__content p {
          font-size: 12px;
          margin-bottom: 10px; } }
    .street__content a {
      display: inline-block;
      padding: 10px 0;
      width: 240px;
      background: #1f373d;
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
      .street__content a:hover {
        outline: 1px solid #1f373d;
        color: #1f373d;
        background: none; }
      @media only screen and (max-width: 500px) {
        .street__content a {
          width: 100%; } }
    .street__content img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%; }
    .street__content-location {
      padding: 15px 60px;
      background: #ffcc01;
      color: #1f373d;
      position: absolute;
      top: 300px;
      left: 175px;
      z-index: 999;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 500; }
      @media only screen and (max-width: 1200px) {
        .street__content-location {
          padding: 10px 30px;
          top: 205px;
          font-size: 16px; } }
  .street--i {
    color: #ffffff;
    margin-right: 25px;
    font-size: 18px; }
  .street--describe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .street--describe {
        width: 75%; } }
  .street--sec_4 {
    grid-row: 2/3; }
    @media only screen and (max-width: 1200px) {
      .street--sec_4 {
        grid-row: 4/5; } }

.footer {
  padding: 75px 0;
  background: #1f373d;
  color: #ffffff; }
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 50px 0; } }
  @media only screen and (max-width: 500px) {
    .footer {
      padding: 25px 0; } }
  .footer__first {
    padding: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border-bottom: 1px solid #ffffff; }
    .footer__first h2 {
      font-size: 40px;
      font-weight: 500; }
      @media only screen and (max-width: 768px) {
        .footer__first h2 {
          font-size: 28px; } }
    @media only screen and (max-width: 500px) {
      .footer__first {
        padding: 25px 0; } }
  .footer__second {
    padding: 75px 0 0 0;
    display: grid;
    grid-template-columns: minmax(-webkit-min-content, 370px) repeat(4, minmax(-webkit-min-content, 200px));
    grid-template-columns: minmax(min-content, 370px) repeat(4, minmax(min-content, 200px)); }
    @media only screen and (max-width: 768px) {
      .footer__second {
        padding: 50px 0;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px; } }
    @media only screen and (max-width: 500px) {
      .footer__second {
        padding: 25px 0;
        grid-template-columns: 1fr; } }
  .footer__block h3 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px; }
  .footer__block h4 {
    color: #919eb1;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .footer__block p {
    font-size: 14px; }
  .footer__block ul {
    list-style: none; }
    .footer__block ul li {
      font-size: 13px;
      margin-bottom: 15px; }
      .footer__block ul li:last-child {
        margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  .fb--logo {
    grid-column: span 4; } }
@media only screen and (max-width: 500px) {
  .fb--logo {
    grid-column: span 1; } }

/*# sourceMappingURL=style.css.map */